h1 {
  text-align: center;
}

.Title {
  text-align: center; 
  color: #B38B6D; 
  font-size: 36px; 
  margin-top: 100px; 
  }
  

  .container {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.Manager, .Employee {
    background-color: #800020;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 24px;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

  
.container {
  display: flex;
  flex-direction: column; /* Stack the links vertically */
  justify-content: center;
  align-items: center; /* Center the links horizontally */
  gap: 10px;
}

/*Adds the red button style  */
.Host, .WaitStaff, .BusStaff, .Kitchen, .TableManagementLink, .KitchenOrders, .CreateProfile
  {
  background-color: #800020;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 24px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.HostMenu 
{
  background-color: #800020;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block; 
    font-size: 24px;
    width: fit-content; 
    margin: 0 auto; 
}

body {
  background-color:  #F5F5DC;
}


.button {
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.available {
  background-color: green;
}

.occupied {
  background-color: yellow;
}

.busy {
  background-color: red;
}

